
//In terms of specificity, this is the right order
a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

//pseudo-classes
a:visited {
  color: purple;
}

a:hover, a:focus {
  color: doggerblue;
}

a:active {
  color: red;
}
